#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 300px;
  transform: translate(-50%, -50%);
}
.verification .ant-form-item-children {
  display: flex;
  justify-content: center;
}
.verification .ant-form-item-children .codeText {
  margin-right: 20px;
  height: 30px;
}
.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
